  <h2>Create New Post</h2>
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="Post-text">Post</label>
      <input id="text" name="post-text" />
    </div>
    <button type="submit" class="btn bg-info">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>